//====================================================================================================
.main {
	position: relative;

	&__row {
		display: flex;
		align-items: center;
		z-index: 2;
	}

	&__title {
		@include adaptiveValue("margin-top", 125, 30);
		max-width: 600px;
		font-family: 'Futura Bold';
		font-weight: 700;
		@include adaptiveValue("font-size", 50, 30);
		line-height: math.div(60, 50);
		@include adaptiveValue("margin-bottom", 60, 30);
		position: relative;
		z-index: 2;

		span {
			color: #00609D;
		}
	}

	&__subtitle {
		font-weight: 700;
		line-height: math.div(18, 15);
		margin-bottom: 25px;
		position: relative;
		z-index: 2;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 560px;
		flex-wrap: wrap;
	}

	&__items-card {
		width: 40%;
		display: flex;
		margin-bottom: 26px;
		position: relative;
		z-index: 2;

		@media (max-width:$tablet) {
			width: 100%;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		right: 0;

		@media (max-width:$mobile) {
			opacity: 0.3;
		}
	}

	&__left {
		&-btn {
			display: inline-flex;
			margin-top: 25px;
			background: linear-gradient(102.4deg, #00609D 36.84%, #3BA1C9 74.32%);
			box-shadow: 0px 36px 47px -18px rgba(0, 96, 157, 0.65);
			border-radius: 10px;
			padding: 25px 60px;
			font-weight: 700;
			@include adaptiveValue("font-size", 17, 15);
			color: #FFFFFF;
			transition: opacity 0.3s ease 0s;
			z-index: 2;
			position: relative;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.card {
	display: flex;
	align-items: center;

	&__items {
		display: flex;
		align-items: center;
	}

	&__items-img {
		width: 60px;
		height: 60px;
		margin-right: 15px;

		img {
			width: 100%;
		}
	}

	&__items-text {
		font-weight: 400;
		line-height: math.div(18, 15);
		color: #000000;
	}
}

// about ====================================================================================================
.about {
	@include adaptiveValue("margin-top", 120, 40);
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 624px;
		height: 466px;
		bottom: 0;
		left: 0;
		background: url(../img/about/about-bg.png) left bottom no-repeat;
		z-index: 2;

		@media (max-width:$tablet) {
			display: none;
		}
	}

	&::after {
		content: '';
		position: absolute;
		width: 92%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 96, 157, 0.83);
		box-shadow: 0px 36px 47px -18px rgba(0, 0, 0, 0.25), inset 0px 4px 30px rgba(255, 255, 255, 0.54);
		backdrop-filter: blur(46px);
		border-radius: 10px;

		@media (max-width:$tablet) {
			width: 100%;
		}
	}

	&__row {
		display: flex;
		justify-content: flex-end;
		position: relative;
		flex-wrap: wrap;

		@media (max-width: em(1337)) {
			justify-content: center;
		}

		@media (max-width:$mobile) {
			flex-direction: column;
		}

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: -50%;
			right: -15%;
			background: url(../img/about/about-img.png) right bottom no-repeat;
			z-index: 4;

			@media (max-width:$tablet) {
				display: none;
			}
		}

	}

	&__left {
		max-width: 652px;
		transform: translate(50%, 45%);
		background: linear-gradient(111.5deg, rgba(255, 221, 28, 0.82) 1.8%, rgba(255, 255, 255, 0.4346) 100%);
		box-shadow: 0px 36px 47px -18px rgba(0, 0, 0, 0.25), inset 0px 4px 30px rgba(255, 255, 255, 0.54);
		backdrop-filter: blur(46px);
		border-radius: 10px;
		padding: 28px;
		z-index: 3;

		@media (max-width: em(1337)) {
			transform: translate(0, 0);
			margin: 40px 0;
			padding: 15px;
			width: 95%;
		}
	}

	&__right {
		max-width: 652px;
		z-index: 2;

		@media (max-width: em(1337)) {
			width: 95%;
		}
	}
}

.content {

	&__right {
		background: rgba(242, 242, 242, 0.69);
		box-shadow: 0px 36px 47px -18px rgba(0, 0, 0, 0.25), inset 0px 4px 30px rgba(255, 255, 255, 0.54);
		backdrop-filter: blur(46px);
		border-radius: 10px;
		padding: 28px;
	}

	&__right-text {
		font-family: 'Futura Md BT';
		font-weight: 700;
		font-size: 17px;
		line-height: math.div(20, 17);
		color: #333333;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 132px;

			@media (max-width:$tablet) {
				margin-bottom: 28px;
			}
		}
	}
}

.block {

	&__left {
		margin-bottom: 30px;

		&-card {
			margin-left: 50px;
			margin-top: -25px;
		}
	}

	&__left-circle {
		position: relative;
		display: inline-flex;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		top: 0;
		left: 0;
		background: #FFFFFF;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		&::before {
			content: '';
			position: absolute;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #00609D;
		}
	}

	&__left-title {
		font-family: 'Futura Md BT';
		font-weight: 700;
		font-size: 17px;
		line-height: math.div(20, 17);
		color: #00609D;
		margin-bottom: 10px;
	}

	&__left-text {
		font-family: 'Futura Md BT';
		font-weight: 700;
		font-size: rem(16);
		line-height: math.div(20, 16);
	}
}